
.clubs-page { display: flex; margin: 0; padding: 0; font-size: 20px;}

.filter-container { 
  
  flex: 17%; /* width */
  
  background-color: #fff; 
  
  margin: 0; 
  
  padding: 0; 
}

.club-list-container {
  
  flex: 83%; /* width */
  
  background-color: #E56C58;
  border-top-right-radius: 2.5em;
  
  margin: 0;
  padding: 1em 2.8em;

}

.club-btn {
  
  height: fit-content;
  min-width: min-content;
  
  box-shadow: 0.25em 0.25em 1em rgba(0, 0, 0, 0.25);
  border-radius: 1em;
  
  margin: 1.8em 0;

  display: flex;
  justify-content: space-between;

}

.club-btn .club-info-section {
  
  display: flex; 
  flex: 6 6 60%; 
  
  background-color: #F1F3F4; 
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;


}

.club-info-section .image-wrapper{

  flex: 33%;
  
  border-radius: 1em;
  background-color: #4F69D0;
  
  padding: 0.6em 0.7em 0.8em;
  margin: 0.9em 1.1em 0.85em;
  
  height: 9.4em;
  width: 9.4em;
}

.club-info-section .image-wrapper img {
  
  height: 8em;
  width: 8em;

  opacity: 0.7;
}

.club-info-section .text-wrapper{
  flex: 66%;
  padding: 0.5em;
  
  text-align: left;
}

.text-wrapper .industry-btn{
  display: inline-block;

  width: 8.4em;
  height: 1.75em;

  border-radius: 0.75em;
  background-color: #4F69D0;
  
  text-align: center;
  align-items: center;
  color: #fff;

  padding: 0.3em 0.2em 0.35em;
  margin-top: 1em;

}

.more-btn{
  /* display: inline-block; */
  width: 2em;
  height: 2em;
  background-color: #4F69D0;
  border-radius: 50%;

  text-align: center;
  margin-left: 5.65em;

  /* position: relative;
  top: 0.6em; */

  float:right;
  margin-top: 0.9em;
  margin-right: 1em;
  
}

.dot{

  display: inline-block;
  width: 0.2em;
  height: 0.2em;
  border-radius: 50%;
  background-color: #fff;

  margin: 0.9em 0.1em 0.85em;



.club-btn .application-info-section {
  
  flex: 4 4 40%;

  background-color: #fff;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}


.apply-btn{
  height: 1.5em;
  width: 4.3em;
  
  background-color: #776DC8;

  font-size: 0.9em;
  line-height: 1em;
  text-align: center;
  align-items: center;

  border-radius: 1em;
  
  padding: 0.15em 0.05em 0.1em;
  
  float: right;
  margin-top: 3em;
  margin-right: 1.7em;
  margin-bottom: 1em;

}

.__not-applied{
  background-color: #BCB5F7;
}

.position-wrapper{
  margin: 2.35em 1.7em 0;
}

.app-position {
  display: flex;
  justify-content: space-between;
  margin: 0.1em;
}

  .app-position p {
    margin: 0;
    display: inline-block;
  }

.filter-container h2 {
  color: #4F69D0;
  font-size: 2em;
  font-weight: bold;
  text-align: left;

  margin: 0.5em;

}

.filter-container h3 {
  font-weight: normal;
  text-align: left;

  font-size: 1em;
  margin:0;

}
.filter-container .filter-section{
  background-color: #F1F3F4;
  display: block;
  border-radius: 0.5em;
  
  padding: 0.5em 1em;
  margin: 1em;
  
  text-align: center;
}

.text-with-check-box .check-circle{
  height: 0.8em;
  width: 0.8em;

  border: 0.1em solid #4F69D0;
  border-radius: 50%;

  display: inline-block;
  margin: 0 0.6em 0;
}

.__dark{
  background-color:#4F69D0;
}

.text-with-check-box p {
  margin: 0.8em 0;
  padding: 0;
  text-align: left;
  white-space: nowrap;
}

.text-with-check-box p:hover{
  text-decoration: underline;
  cursor: pointer;
}

.filter-section input{
  width: 100%;
  font-size: 20px;
  height: 2em;

  margin: 0.5em 0;

  border-radius: 2.5em;
  border-style: none;
}
