.club_home_page {
  display: flex; 
  margin: 0; 
  padding: 0; 
  font-size: 20px;
  justify-content: space-between;
  background-color: white;
}

.club_details_wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 2em;
  background-color: white;
}

.details {
  flex: 1;
  margin-bottom: 0.75em;
} 

.introduction_wrapper {
  text-align: center;
}

.introduction_wrapper p {
  font-family: "SF Pro Rounded";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

.contact_info_wrapper, .recruitment_info_wrapper {
  background-color: #F1F3F4;
  border-radius: 1em;
}
.club_slider_wrapper {
  flex: 1;
  background-color: #E56959;
  border-top-left-radius: 2.5em;
  padding: 3.25em;
  display: flex;
  flex-direction: column;
}

.slider {
  flex: 6;
  width:100%;
  height: 100%; 
}

.slider img {
  width:100%;
  height: 100%;
}

.event_details_wrapper {
  flex: 1;
  background-color: #F1F3F4;
  opacity: 0.7;
  border-radius: 0 0 1em 1em;
  text-align: left;
  padding: 1em;
}

.event_description h3 {
  font-family: "SF Pro Rounded";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px; 
}
