body {
  font-family: Arial, Helvetica, sans-serif; 
  background: #e5e5e5;
  text-align: center;
}

.sidebar_content_wrapper {
  margin: 30px 0 0 0;
  display: flex;
}

.side_bar{
  flex: 1 200px;
  height: fit-content;
  background-color: #c4c4c4;
  border-radius: 15px;
  margin: 0 20px 0 20px;
}

.side_btn{
  background-color: #e2e1e1;
  display: block;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  text-align: center;
}

.main_content{
  flex: 3 600px;
  border-radius: 15px;
  margin: 0 30px 0 20px;
}

.content_section{
  display: block;
  background-color: #c4c4c4;
  border-radius: 10px;
}

.content_section h3{
  text-align: left;
  margin: 10px;
  font-size: 35px;
}

.switch_btn, .switch_btn_active{
  text-align: left;
  font-size: 15px; 
  margin: 5px 10px 5px 10px;
  padding: 5px; 
  display: block;

  
}

.switch_btn span{
  background-color: #707070a4; 
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.switch_btn_active span{
  background-color: #9b9b9bb9; 
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}